#menu-fixo {
	background-color: #12479b;
}

#logo-nav {
	color: #fff;
}

a {
	color: #12479b;
}

.nav>li>a:active, .nav>li>a:hover  {
	background-color: #12479b;
	color: #fff;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th , .elenco {
	background-color: #e8eaef;
	color: #325cdb;
}



.btn-comissao {
	margin-right: 10px;
}

.upload {
	margin-top: 15px;
}

.pesquisa {
	display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.h1-ele {
    margin-top: 50px;
}